<div class="container-fluid">
  <h1>Find location by IP address</h1>
  <p>Enter IPv4 address in dot-decimal notation, like <code>223.58.1.10</code></p>
  <form class="form-inline">    
    <div class="form-group mx-sm-2 mb-2">
      <label for="inputIp" class="sr-only">IP</label>
      <input type="text" class="form-control form-control-lg" id="inputIp" name="inputIp" placeholder="0.0.0.0" [(ngModel)]="ip">
    </div>
    <button type="submit" class="btn btn-lg btn-primary mb-2" [disabled]="!isIpValid() || requestInProgress" (click)="onSearch($event)">Search</button>
  </form>
  <div *ngIf="isNotFound" class="alert alert-primary" role="alert" style="width: 40%;">
    Not found!
  </div>
  <div *ngIf="isBadRequest" class="alert alert-danger" role="alert" style="width: 40%;">
    Bad request!
  </div>
  <table *ngIf="isDataValid()" class="table table-bordered" style="width: 50%;">
    <thead>
      <tr>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{latitude}}</td>
        <td>{{longitude}}</td>
      </tr>
    </tbody>
  </table>
</div>
