<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                Geo IP search service
            </li>
            <li (click)="onSelect(1)" [class.selected]="selectedLink === 1">
                <a routerLink="/location-by-ip-address">Location by IP address</a>
            </li>
            <li (click)="onSelect(2)" [class.selected]="selectedLink === 2">
                <a routerLink="/location-list-by-city">Locations by city name</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>
