<div class="container-fluid">
  <h1>Find locations by city</h1>
  <p>Enter city name, like <code>cit_Qsdadfa</code></p>
  <form class="form-inline">    
    <div class="form-group mx-sm-2 mb-2">
      <label for="inputCity" class="sr-only">City</label>
      <input type="text" class="form-control form-control-lg" id="inputCity" name="inputCity" placeholder="" [(ngModel)]="city">
    </div>
    <button type="submit" class="btn btn-lg btn-primary mb-2" [disabled]="!isCityValid() || requestInProgress" (click)="onSearch($event)">Search</button>
  </form>
  <div *ngIf="isNotFound" class="alert alert-primary" role="alert" style="width: 40%;">
    Not found!
  </div>
  <div *ngIf="isBadRequest" class="alert alert-danger" role="alert" style="width: 40%;">
    Bad request!
  </div>
  <table *ngIf="isDataValid()" class="table table-bordered" style="width: 80%;">
    <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Region</th>
        <th scope="col">Postal</th>
        <th scope="col">City</th>
        <th scope="col">Organization</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of locations">
        <td class="row-number-column">{{row.country}}</td>
        <td class="row-number-column">{{row.region}}</td>
        <td class="row-number-column">{{row.postal}}</td>
        <td class="row-number-column">{{row.city}}</td>
        <td class="row-number-column">{{row.organization}}</td>
        <td class="row-number-column">{{row.latitude}}</td>
        <td class="row-number-column">{{row.longitude}}</td>
      </tr>
    </tbody>
  </table>
</div>
